body{
    background-image: url(brushes.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 12px;
}
.warning{
    display: none;
    color: white;
    font-family: 'OCR A Std', monospace;
}
.canva{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid gray;
}
button, .color-picker{
    border: 3px solid gray;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'OCR A Std', monospace;
    background-color: azure;
    box-shadow: 2px 2px black;
    transition-duration: 0.2s;
}
button:hover{
    background-color: gray;
    color: white;
}
input:hover{
    background-color: gray;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
@media screen and (max-width: 1000px){
    .warning{
        display: block;
    }
    body{
        background-color: white;
    }
    .canva, .color-picker, .buttons-container{
        display: none;
    }
    button{
        display: none;
    }
}
